@import './footer.css';
@import './header.css';
@import './binary/decimal.css';

body {
  color: black;
  background-color: darkgray;
  background-image: url('../../resources/circles.jpg');
  background-repeat: repeat;
}