.header {
  /* background-color: #05F7FF; */
  background-color: #297D80;
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  margin-left: -8px;
  z-index: 2;
  display: flex;
  align-items: center;
  /* opacity: 0.75; */
  color: white;
  -webkit-box-shadow: 5px 5px 30px 5px #04C5CC;
  -moz-box-shadow: 5px 5px 30px 5px #04C5CC;
  box-shadow: 5px 5px 30px 5px #04C5CC;
}

.headerItem {
  margin: 0px 10px 0px 10px ;
  justify-self: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;

}
.headerItem :hover {
  cursor: pointer;
}

.firstRight {
  margin-left: auto;
}